.app_container {
  padding: 0 200px;
}

.header {
  background: linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
  -webkit-background-clip: text;
  color: transparent;
  width: 600px;
  font-size: 50px;
  text-align: center;
  margin: 30px auto;
  padding-bottom: 80px;
}

.center {
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}