.app_container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: linear-gradient(81.84deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
  -webkit-background-clip: text;
  color: transparent;
  max-width: 600px;
  font-size: 50px;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 80px;
}

.center {
  margin: 0 auto;
}

.section {
  padding: 160px 0;
  margin: 0 auto;
}

.comment{
  padding: 160px 0;
  margin: 0 auto;
  text-align: center;
  color: rgba(153, 153, 153, 1);
  font-weight: 400;
  font-size: 32px;
  max-width: 600px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-bottom: 40px;
}

.wordListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.wordListItem {
  justify-self: center;
}